<div class="pa0 pv4 pa4-ns">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead class="fw6 bb b--light-gray tl pb3 pr3">
        <tr>
          <th class="fw6 bb b--light-gray tl pb3 pr3" *ngFor="let header of headers">
            {{header}}
          </th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr *ngFor="let row of rows" [attr.data-qa-name]="row.dataQaName">
          <td class="pv3 pr3 bb b--light-gray" *ngFor="let rowItem of row.items" [attr.data-qa-name]="rowItem.dataQaName">
            {{rowItem.content}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
