<div class="tl mt4 mb4">
  <div class="fw6">Buyer</div>
  <app-table [headers]="buyers.headers" [rows]="buyers.rows"></app-table>

  <div class="fw6">Invoices</div>
  <app-table [headers]="items.headers" [rows]="items.rows"></app-table>

  <div class="fw6">Seller</div>
  <app-table [headers]="seller.headers" [rows]="seller.rows"></app-table>

  <div class="fw6" data-qa-name="date">
    Date: {{invoice.date.toISOString()}}
  </div>
  <div class="fw6 mt2" data-qa-name="due-date">
    Due date: {{invoice.dueDate.toISOString()}}
  </div>
  <div class="fw6 mt2" data-qa-name="total">
    Total: {{invoice.total}}
  </div>
</div>
