<div class="app">
  <app-xlsx-import-logo></app-xlsx-import-logo>
  <main class="app-header pt6 pb4">
    <h1>
      <a
        class="link underline dim white"
        href="https://github.com/Siemienik/XToolset/tree/master/samples/xlsx-import%2Bangular"
        target="_blank"
        rel="noopener noreferrer"
      >
        Angular sample
      </a>
    </h1>
    <p>Click button bellow and see xlsx-import in action</p>
    <button class="f6" type="button" (click)="onUpload()" [disabled]="!!invoice">
      Download and parse invoice
    </button>
    <app-invoice *ngIf="invoice" [invoice]="invoice"></app-invoice>
  </main>
</div>

<router-outlet></router-outlet>
